# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment files
.env
**/.env

# Frontend
node_modules/
dist/

# Database
*.dump

# IDE
.vscode/
.idea/